# Disable Git line ending conversion, to prevent packwiz index hashes changing when committing from Windows
* -text
/sunlit_valley/Society[[:space:]]Sunlit[[:space:]]Valley-4.0.0-hotfix.zip filter=lfs diff=lfs merge=lfs -text
/Sunlit[[:space:]]Valley.zip filter=lfs diff=lfs merge=lfs -text
/cobbleverse/mods/Cobblemon-fabric-1.7.3+1.21.1.jar filter=lfs diff=lfs merge=lfs -text
/cobbleverse/resourcepacks/COBBLEVERSE[[:space:]]Soundtrack.zip filter=lfs diff=lfs merge=lfs -text
/cobbleverse/resourcepacks/JigglyRadio.zip filter=lfs diff=lfs merge=lfs -text
/cobbleverse/resourcepacks/Original[[:space:]]Pokemon[[:space:]]Battle[[:space:]]Music.zip filter=lfs diff=lfs merge=lfs -text
